* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    padding: 0 10px;
}

header .menu {
    gap: 20px;
    display: flex;
    padding: 0 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

.heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
}

.heading h1 {
    font-size: 50px;
    font-weight: 600;
}

.heading p {
    font-size: 20px;
    font-weight: 400;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    width: 70%;
}

section p {
    text-align: center;
}

.aside {
    position: absolute;
    right: 0px;
    top: 25%;
    background-color: cadetblue;
    display: grid;
    width: 30%;
    text-align: center;
    height: 90%;
}

.aside a{
    padding: 20px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
}

section p {
    text-align: center;
}

.section img{
    width: 120%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6e79a0;
    padding: 30px;
}

footer .logo {
    padding: 0 10px;
}

footer .menu {
    gap: 20px;
    display: flex;
    padding: 0 10px;
}

footer a {
    color: white;
    text-decoration: none;
}